<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="james.wearcolorpicker">

    <uses-feature
        android:required="true"
        android:name="android.hardware.type.watch" />

    <application>
        <activity android:name=".WearColorPickerActivity" />
    </application>

</manifest>